@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: url('/img/bg2_farfog.jpg') no-repeat center;
  height: 100vh;
}

/*中文區*/
span {/*請選擇城市*/
  font-size: 2rem;
  font-family: 'Noto Sans TC', sans-serif;
}
select {/*目前選項*/
  margin-left: auto;
  margin-top: auto;
  font-size: 2rem;
  font-family: 'Noto Sans TC', sans-serif;
}
option {/*下拉選單內的選項*/
  font-size: 2rem;
  font-family: 'Noto Sans TC', sans-serif;
}
h3 {
  /*台灣天氣*/
  margin: auto;
  margin-bottom: 0.3em;
  font-size: 2.5rem;
  font-family: 'Noto Sans HK', sans-serif;
}
/*中文區*/

.center {
  margin-left: auto;
  margin-top: auto;
  background: transparent;
  margin-left: auto;
  padding-top: 10%;
  text-align: center;
}

#weather {
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
}

#weatherTaiwan {
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
}
