@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  /* margin: 0px;
  padding: 0px; */
  box-sizing: border-box;
}

body {
  background: url('/img/bg2_farfog.jpg') no-repeat center;
  height: 100vh;
}

p {/* 底層文字 */
  bottom: 0;/*鎖定在底層*/
  position: fixed;/*鎖定在底層*/
  color: rgba(124, 124, 113, 0.678);
}

/*中文區*/
select {
  /*目前選項*/
  
  border-radius: 0.5em;
  background-color: rgb(39, 31, 31);
}

span,
select,
option {
  font-size: 2rem;
  font-family: 'Noto Sans TC', sans-serif;
  color: antiquewhite;
  /* background-color: red; */ /*for test*/
}

h3 {
  /*台灣天氣*/
  margin: auto;
  margin-bottom: 0.3em;
  font-size: 2.5rem;
  font-family: 'Noto Sans HK', sans-serif;
  color: antiquewhite;
}
/*中文區*/

.center {
  margin-left: auto;
  margin-top: auto;
  background: transparent;
  margin-left: auto;
  padding-top: 10%;
  text-align: center;
}

#weather,
#weatherTaiwan {
  font-family: 'Bebas Neue', cursive;
  color: antiquewhite;
}

#weather {
  font-size: 3rem;
}
#weatherTaiwan {
  font-size: 2rem;
}


